<nav class="navbar navbar-dark bg-primary">
  <span class="navbar-brand mb-0 h1">RXJS Operators</span>
</nav>
<div class="" style="height: 100%;">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>
          <div class="d-flex bg-secondary text-white">
            <div class="m-2">Map : </div>
            <div class="m-2">{{array | json}}</div>
          </div>
          <div class="m-2">
            <ul id="map">

            </ul>
          </div>
        </td>
        <td>
          <div class="d-flex bg-secondary text-white">
            <div class="m-2">Map & MergeAll : </div>
            <div class="m-2">{{array | json}}</div>
          </div>
          <div>
            <ul id="mergeAll">

            </ul>
          </div>
        </td>
        <td>
          <div class="d-flex bg-secondary text-white">
            <div class="m-2">MergeMap : </div>
            <div class="m-2">{{array | json}}</div>
          </div>
          <div>
            <ul id="mergeMap">

            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <router-outlet></router-outlet> -->